In [9]:
#1
rhyme = ("twinkle, twinkle, little star,\n        how i wonder what you are!\n             up above the world so high,\n             like a diamond in he sky\n twinkle twinle little star\n how i wonder what you are")
print(rhyme);

twinkle, twinkle, little star,
        how i wonder what you are!
             up above the world so high,
             like a diamond in he sky
 twinkle twinle little star
 how i wonder what you are

In [10]:
#2
import sys
print("python version");
print(sys.version);
print("python info");
print(sys.version_info);

python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]
python info
sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

In [15]:
#3
import datetime
now = datetime.datetime.now();
print("datetime is:");
print(now.strftime ("%y-%m-%d  %H:%M:%S"))

datetime is:
21-10-23  08:22:12

In [17]:
#4
import math
radius = float(input("enter the radius of the circle"));
area = math.pi*radius*radius;
print("area of a circle",area)

enter the radius of the circle62
area of a circle 12076.282160399165

In [18]:
#5
firstname = input("enter your first name:");
lastname = input("enter your last name:");
print("hello:"+ " "+lastname+" "+firstname)

enter your first name:syed
enter your last name:azeem
hello: azeem syed

In [22]:
#6
num1 = int(input("enter num1:"));
num2 = int(input("enter num2:"));
result = num1 + num2;
print(num1, "+",num2, "=",result);

enter num1:2
enter num2:4
2 + 4 = 6

In [2]:
#7
english = int(input("enter marks of english:"));
urdu = int(input("enter marks of urdu :"));
islamiat = int(input("enter marks of islamiat :" ));
physics = int(input("enter marks of physics :"));
maths = int(input("enter marks of maths :"));

total = english+urdu+islamiat+physics+maths;
percentage = total/5;

if percentage>=80:
    grade ='A+'
elif percentage>=70:
    grade ='A'
elif percentage>=60:
    grade ='B'
elif percentage>=50:
    grade ='C'
elif percentage>=40:
    grade ='D'
elif percentage>=33:
    grade ='E'
else:grade ="fail"
        
print("total marks", total);
print("percentage", percentage);
print("grade",grade);

enter marks of english:45
enter marks of urdu :65
enter marks of islamiat :85
enter marks of physics :95
enter marks of maths :34
total marks 324
percentage 64.8
grade B

In [10]:
#8
num1 = int(input("enter an int number"));
remainder = num1 % 2;
if (remainder == 0):
    print(num1,"even number:")
else:
    print(num1,"odd")

enter an int number2
2 even number:

In [12]:
#9
list1 = ["azeem", "ali", "ashir", "12", 12]

print (list1);
print ("length of list is:",len(list1))

['azeem', 'ali', 'ashir', '12', 12]
length of list is: 5

In [13]:
#10
list2 = [12,13,55,45];
total = sum(list2);
print(total);

125

In [14]:
#11
list3 = [100,200,300];
print("largest number of list is:",max(list3));

largest number of list is: 300

In [15]:
#12
a=[1,1,2,3,5,8,13,21,34,55,89];
lst=[]
for i in a:
    if i<5:
        lst.append(i);
        print(lst);

[1]
[1, 1]
[1, 1, 2]
[1, 1, 2, 3]